{% extends 'base.html' %} {% block content %}

<h2>Ingresar Valores</h2>
<div class="container " style="background-color:grey">
<form method="POST" novalidate action="/ingresar_valores/{{id_form}}" class="post-form text-center">
    <br>
    <br>
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn btn-success"> Guardar </button>
</form>
    <br>
    <br>
</div>

<div class="container">

    <h2> Editar </h2>
        <div class="datos">
            <div class="row">
                    
                <div class="col-md-2" style="font-weight: bold;">Nombre del responsable <p></div>
                <div class="col-md-10"> {{ formulario.nombre_responsable }} </div>
    
                <div class="col-md-2" style="font-weight: bold;">Biblioteca<p></div>
                <div class="col-md-10"> {{ formulario.bibloteca}} </div>
    
                <div class="col-md-2" style="font-weight: bold;">Fecha Inicio <p></div>
                <div class="col-md-10"> {{ formulario.fecha_inicio|date:'d-m-Y' }}  </div>
    
                <div class="col-md-2" style="font-weight: bold;">Fecha Termino<p></div>
                <div class="col-md-10"> {{ formulario.fecha_termino|date:'d-m-Y' }} </div>
    
                <div class="col-md-2" style="font-weight: bold;">Fecha Informe<p></div>
                <div class="col-md-10"> {{ formulario.fecha_publicacion|date:'d-m-Y' }} </div>
            </div>
    
        </div>
    
    
        <br>
    
        <div class="conceptos">
    
            <div class="row">
                <div class="col-md-1" style="font-weight: bold;">N°</div>
                <div class="col-md-6" style="font-weight: bold;"><center>CONCEPTOS</center></div>
                <div class="col-md-1" style="font-weight: bold;">SSUE</div>
                <div class="col-md-1" style="font-weight: bold;">LIBROS</div>
                <div class="col-md-1" style="font-weight: bold;">CD</div>
                <div class="col-md-1" style="font-weight: bold;">RESP</div>
                <div class="col-md-1" style="font-weight: bold;">Opcion</div>
    
                {% for concepto in conceptos %}
                <div class="col-md-1">{{ concepto.id }}</div>
                <div class="col-md-6">{{ concepto.nombre_concepto }}</div>
                <div class="col-md-1">{{ concepto.ssue}}</div>
                <div class="col-md-1">{{ concepto.libros}}</div>
                <div class="col-md-1">{{ concepto.cd}}</div>
                <div class="col-md-1">{{ concepto.resp}}</div>
                <div class="col-md-1"><a href="/eliminar_concepto/{{ concepto.id }}/{{ formulario.id }}">
                    <span class="material-icons" style="color: black;">
                        delete
                        </span>
                </a></div>
                {% endfor %}
                </div>
        </div>
    
    </div>

    <style>

        body{
        
        padding:5%;
        }
        .col-md-5{
        border: 1px solid black;
        }
        .col-md-7{
        border: 1px solid black;
        }
        
        .col-md-2{
        border: 1px solid black;
        }
        
        .col-md-10{
        border: 1px solid black;
        }
        .col-md-6{
        border: 1px solid black;
        }
        .col-md-1{
        border: 1px solid black;
        }
        .col-md-3{
        border: 1px solid black;
        }
        
        
        </style>
{% endblock %}